
.pointer {
    cursor: pointer;
}

.size25 {
    font-size: 10px !important;
}

.mat-form-field {
    width: 100% !important;
}

.mat-dialog-container {
    padding: 40px !important;
}

.red{
    color: red;
}